h1,h3{
text-align: center;
}

#TableOfContents{
margin-left:auto;
margin-right:auto;
}

li{
font-size:14pt;
}

li.sectionTitle{
font-size:16pt;
}

p{
font-size:14pt;
}

ol.subDir{
list-style:lower-roman;	
}

table#dfd{
margin-left:auto;
margin-right:auto;
}

table#dfd td{
border:1px solid black;
text-align:center;
}

#archImg{
height:524px;
width:550px;
}

#classDia{
height:auto;
width:90%;
}

.seqDia{
height:auto;
width:950px;
}

.backToTop{
text-align:right;
}

.ui{
height:300px;
width:400px;
margin-left: auto;
margin-right: auto;
text-align:center;
}